<div class="container">
  <div class="col-md-6 offset-md-3 signup-form form-small">
    <div class="signin-box col-md-5">
    <div>
    <p class="signin-header" style="font-size: 35px">Sign In</p>
    </div>
    <div class="signin-form">
      <%= render :partial => "users/partials/sign_in_form" %>
    </div>

  </div>
</div>
