<div class="container">
  <div class="col-md-6 offset-md-3 signup-form form-small">
    <div class="signup-header">
      <h2 class="title">Sign In</h2>
    </div>
    <%= render :partial => "users/partials/sign_in_form" %>
  </div>
</div>
