

   <form id="search_title" class="navbar-form navbar-left" action="/recipes" method="get"  >
        <div class="form-group">
          <input type="text" name="search" class="form-control" placeholder="Search by title">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>

<!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">List of Recipes</h1>
            </div>
          <% @recipes.each do |recipe| %>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="/recipes/<%= recipe.id %>">
                    <img class="img-responsive" src="<%= recipe.avatar %>" alt="">
                </a>
                <h3>
                  <%= recipe.title %>
                </h3>
            </div>
          <% end -%>
        </div>
    </div>



