<div class="col-md-5">
  <div class="welcome">
    <h1>A place to create your recipe book.</h1>
  </div>
  <div >
    <h2><%= link_to("Sign Up Now!", new_user_path ,:class=>"btn-signup") %></h2>
  </div>
</div>

  <div class="signin-box col-md-5">
    <div>
    <p class="signin-header" style="font-size: 35px">Sign In</p>
    </div>
    <div class="signin-form">
      <%= render :partial => "users/partials/sign_in_form" %>
    </div>

  </div>



